<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conexus.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
      <Conexus.UserSettings>
        <setting name="CollectionURL" serializeAs="String">
          <value />
        </setting>
        <setting name="SteamCMDDir" serializeAs="String">
          <value />
        </setting>
        <setting name="ModsDir" serializeAs="String">
          <value />
        </setting>
        <setting name="SteamUsername" serializeAs="String">
          <value />
        </setting>
        <setting name="SteamPassword" serializeAs="String">
          <value />
        </setting>
        <setting name="CredentialsPrompt" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Platform" serializeAs="String">
          <value>steam</value>
        </setting>
        <setting name="HasDownloaded" serializeAs="String">
          <value>False</value>
        </setting>
      </Conexus.UserSettings>
    </userSettings>
</configuration>